$normal-font-size: 16px;
$small-font-size: 13px;

$white: #fff;

$blue: #0081CC;
$blue-light: #2C85E3;
$blue-dark: #005E90;


$gray-lighter: #F7F7F7;
$gray-light: #DFDFDF;
$gray: #BFBFBF;
$gray-dark: #7E7E7E;
$gray-darker: #4A4A4A;
$gray-darkest: #333333;
