@import '../variables';

.checkbox {
  display: flex;
}

.labelText {
  position: relative;
  font-size: 11px;
  line-height: 13px;
  color: $gray-dark;
  margin-left: 6px;
  word-break: break-all;
  margin-top: 2px;
}

.input {
  display: none;
}

.icon {
  width: max-content;
  height: max-content;
}